body {
  background: #222;
  font-family: Calibri, Arial, sans-serif;
}

.resume {
  background: #fff;
  padding: 20px;
  margin: 50px auto;
  width: 70%;
  border-radius: 10px;
  color: #222;
  z-index: 0;
}

.sectHead {
  font-size: 30px;
  margin-top: 15px;
  border-bottom: 1px solid #222;
}
.sectHead:first-letter {
  font-weight: bold;
  font-size: 35px;
  font-style: italic;
}

/* FORMS */

form {
  margin-bottom: 20px;
  display: block;
}
form > div {
  position: relative;
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
}
form > div > label {
  position: absolute;
  top: 8px;
  left: 10px;
  color: #666;
  cursor: text;
  transition: all 0.5s;
}

input,
textarea {
  display: flex;
  width: 98%;
  margin-bottom: 10px;
  background: #fff;
  padding: 10px 8px 8px;
  outline: none;
  border: 1px solid #999;
  border-radius: 5px;
  overflow: hidden;
}
input:required:focus,
textarea:required:focus {
  border: 1px solid #c47979;
}
input:focus + label,
textarea:focus + label {
  top: 2px;
  font-size: 10px;
}
input:invalid {
  color: #999;
}
input:valid + label,
textarea:valid + label {
  color: transparent;
}
input[type="date"] {
  cursor: text;
}
input[type="date"] + label {
  top: 2px;
  font-size: 10px;
  color: #333;
}

button {
  background: #ccc;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  margin: 5px;
  max-width: max-content;
}
button:hover {
  color: #000;
  background: #eee;
}

.submitEduButton,
.submitExpButton {
  display: block;
}
#editEduButton,
#editExpButton,
.addBtn,
.editHead {
  display: none;
}

/* HEADER */

#name {
  font-size: 45px;
  text-align: left;
  clear: both;
}

#headerSide {
  float: right;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}
#email {
  display: block;
}

#desRole {
  font-weight: bold;
  display: block;
  font-size: 20px;
  margin: 10px 0 5px;
  font-style: italic;
}

#blurb {
  text-align: justify;
  line-height: 15px;
  display: block;
  font-size: 13px;
  margin: 0 15px 30px 10px;
  padding-left: 5px;
  border-left: 2px solid #222;
}

/* EDUCATION/EXPERIENCE */

.block {
  padding: 5px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #222 0% 0.2%, transparent 1%);
}

#degree,
#role {
  font-size: 25px;
  display: block;
}
#school,
#job {
  font-weight: bold;
  display: inline-block;
  font-size: 20px;
}
#dates,
#jobDates {
  font-size: 15px;
  font-style: italic;
  padding-top: 10px;
  position: absolute;
  left: 75%;
}
#dates span,
#jobDates span {
  display: block;
}
#desc {
  text-align: justify;
  width: 95%;
  max-height: 150px;
  overflow-y: auto;
  font-size: 13px;
  padding: 0 5px;
  border-left: 2px solid #222;
}

/* FontAwesome */

.faGithub {
  display: block;
  font-size: 24px;
  color: #444;
  position: fixed;
  right: 10px;
  bottom: 10px;
}
.faGithub:hover {
  color: #666;
}

.faAtom {
  font-size: 250px;
  color: #444;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: -1;
}

/* Provided in part by W3 */
/* The switch - the box around the slider */
.switch {
  position: absolute;
  left: 15%;
  top: 20px;
  display: block;
  width: 50px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #666;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #eee;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #444;
}

input:focus + .slider {
  box-shadow: 0 0 1px #444;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
